USE [master]
GO
/****** Object:  Database [ManIntDB]    Script Date: 4/12/2017 11:26:00 PM ******/
CREATE DATABASE [ManIntDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ManIntDB', FILENAME = N'g:\SQLSERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\ManIntDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ManIntDB_log', FILENAME = N'g:\SQLSERVER\MSSQL11.SQLEXPRESS\MSSQL\DATA\ManIntDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ManIntDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ManIntDB]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 4/12/2017 11:26:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Equipment](
	[HierarchyId] [smallint] NOT NULL,
	[Id] [varchar](50) NOT NULL,
	[Description] [varchar](50) NULL,
	[LevelId] [smallint] NOT NULL,
	[CompositeId] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Equipment] PRIMARY KEY CLUSTERED 
(
	[HierarchyId] ASC,
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EquipmentLevel]    Script Date: 4/12/2017 11:26:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EquipmentLevel](
	[Id] [smallint] NOT NULL,
	[Description] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EquipmentLevel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EquipmentProperty]    Script Date: 4/12/2017 11:26:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EquipmentProperty](
	[Id] [varchar](50) NOT NULL,
	[Description] [varchar](50) NOT NULL,
	[Value] [varchar](50) NULL,
	[ParentId] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EquipmentProperty] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HierarchyScope]    Script Date: 4/12/2017 11:26:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HierarchyScope](
	[Id] [smallint] NOT NULL,
	[Hierarchy] [varchar](50) NOT NULL,
 CONSTRAINT [PK_HierarchyScope] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK__Equipment__Level__1CF15040] FOREIGN KEY([LevelId])
REFERENCES [dbo].[EquipmentLevel] ([Id])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK__Equipment__Level__1CF15040]
GO
USE [master]
GO
